
.header {
    position: relative;
}


.header__banner {
  height: 614px;
    background-position: center;
    background-image: url(../images/full.png);
}
.hidden--div {
    display: none;
   }


.header-flex {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-burger {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav--menu {
    width: 100%;
height: 103px;
background: #27262A;
display: flex;
justify-content: space-between;
align-items: center;
}
.header--burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header--burger-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.burger-line-1.active {
 
    width: 15px;
height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: block;
transition: all .15s ease-in 0s;
}
.burger-line-2.active{

    width: 26px;
    height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: block;

transform: rotate(0deg);
transition: all .15s ease-in 0s;
}
.burger-line-3.active{

    width: 26px;
    height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: block;
transform: rotate(0deg);
transition: all .15s ease-in 0s;
}
.burger-line-1 {
    width: 26px;
    height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: none;
transition: all .15s ease-in 0s;
}
.burger-line-2 {
    position: absolute;
    top: 50px;
    width: 26px;
    height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: block; 
transform: rotate(50deg);
transition: all .15s ease-in 0s;
}
.burger-line-3 {
    width: 26px;
    height: 3px;
background: #FFFFFF;
border-radius: 5px;
display: block;
transform: rotate(130deg);
transition: all .15s ease-in 0s;
}

.header--nav--burger.active {
    display: block;

    background: #333333;
position: absolute;
top: 103px;
right: 10%;
left: 10%;

}
.link--burger--menu {
margin-left: 30px;
    text-decoration: none;
    height: 88px;
    width: 260px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 26px;
/* or 100% */

display: flex;
align-items: center;


color: #FFFFFF;
}
.header--nav--burger {
    display: none;
   
    
}
.header--button-link {
    text-decoration: none;
}
.header--button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 119px;
height: 37px;
background: #8D81AC;
border-radius: 40px;
}
.header--button-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.header--paragraph {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #8D81AC;
    

}

.header__company--titile {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;
}
.header--description--paragraph {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* or 100% */

display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;

color: #848E97;
}
.flex--wrap {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    gap: 19px;
}
.header--button-position-relative {
    position: absolute;
    top: -15px;
    width: 290px;
height: 45px;
background: #8D81AC;
border-radius: 40px;
display: flex;
justify-content: center;
align-items: center;
}
.position {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__trial {
    position: absolute;
    top: 40px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* or 100% */

display: flex;
align-items: center;
text-align: center;

color: #848E97;

}
.header__download-button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* or 111% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

@media(min-width:320px){

    .txt--media {
        display: none;
    }
.link--burger--menu:hover {
    position: relative;
    color: #8D81AC;

    &::before {
        position: absolute;
        content:"";
        width: 8px;
        height: 53px;
        background: #8D81AC;
        left: -30px;
    }
}}
.txt--media {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 16px;
/* or 67% */


text-transform: uppercase;

color: #8D81AC;
 }
@media (min-width: 768px) {
    
    .txt--media {
        display: block;
    }
    .link--burger--menu:hover {
    
    
        &::before {
            position: absolute;
            content:"";
            width: 0px;
            height: 0px;
            background: #8D81AC;
            left: 0px;
        }
    }
    .header--nav--burger {
        height: 30px;
        width: 100%;
        display: block;
        background: #27262A;
        position: absolute;
        left: 0px;
        top: 101px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .link--burger--menu {
        width: 132px;
        display: flex;
        flex-direction: row;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

display: flex;
align-items: center;

color: #8D81AC;
       }
       .header__company--titile {
        padding-top: 30px;
       }
       .center-burger {
        flex-direction: row;
       }
       .header--ul--burger {
margin-left: 10%;
margin-right: 10%;
        width: 100%;
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       }
       hr {
        display: none;
       }
       .header--burger-menu {
        display: none;
       }
}
@media (min-width: 1200px) { 

    .header--nav--burger {
     display: none;
    }
    .hidden--div {
     display: block;
    }

    .header__nav--menu {
        background-color: black;
        
    }
    hr {
        display: none;
    }
 }
 .h-a-header {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */

display: flex;
align-items: center;

color: #8D81AC;
    text-decoration: none;
 }
 .hidden--div {
   margin-left: 20%;
   }
 .header-h-ul {
    display: flex;
    gap: 47px;
 }
 .header--logo {
  text-decoration: none;
 }
 .header--logo--svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
 }
 .txt--media:hover {
    color: white;
 }
.header--svf:hover {
    fill: white;
}
.h-a-header:hover {
    color: white;
}
.header--button-buy {
    &:hover {
        background-color: white;
        color: #8D81AC;
    
        .header--button-text {
          color: #8D81AC;
        }
      }
}
.header--button-position-relative {
    &:hover {
        background-color: white;
        color: #8D81AC;
        border: 2px solid #8D81AC;
    
        .header__download-button{
          color: #8D81AC;
        }
      }
    
}