//основной документ для стилей
.container{
  min-width: 320px; 
} 

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


.main__text-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
  margin: 80px 24px 27px 24px;
}

.main__txt-paragraph {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #323232;
  margin: 0 25px 35px 18px;
}

.editor__btn-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 70px;
}

.editor__btn-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  margin: 5px;
}

.editor__btn-actions:link,
.editor__btn-actions:visited,
.editor__btn-social-count:link,
.editor__btn-social-count:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #24292e;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
}

.editor__btn-actions {
  border-right: 1px solid rgba(27, 31, 35, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfc), color-stop(90%, #eff3f6));
  user-select: none;
}

.editor__btn-actions-img {
  margin-right: 3px;
}

.editor__btn-social-count:hover,
.editor__btn-social-count:active {
  color: #0366d6;
}

//   what you get
.what-you-get {
  overflow-x: hidden;
  position: relative;
}

.what-you-get__wrapper {
  position: relative;
  padding-top: 37px;
  padding-bottom: 10px;
  text-align: center;
}

.what-you-get__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #8D81AC;
  margin-bottom: 36px;
}

.what-you-get__item-img-container {
  margin-bottom: 27px;
}

.what-you-get__item-title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 14px;
}

.what-you-get__item-text {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #848E97;
  margin-bottom: 38px;
}

.what-you-get__main-img {
  width: 103%;

&--desktop {
  display: none;
}
}

@media screen and (min-width: 480px) {
  .what-you-get {
    &__wrapper {
      padding-top: 32px;
    }
    &__title {
      font-size: 42px;
    }
    &__content-block {
      display: flex;
      justify-content: space-between;
      &:last-child {
       margin-bottom:(30px);
      }
    }
    &__item-img-container {
      width: 30%;
      margin: 0;
      margin-bottom: 27px;
    }
    &__item-main-container {
      text-align: start;
      width: 70%;
    }
    &__main-img {
      width: 102%;
      &--mobile {
        display: none;
      }
      &--desktop {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .what-you-get {
    background: #f4f4f4;
    font-size: 40px;
    &__wrapper {
      padding-top: 98px;
      padding-bottom: 52px;

      position: relative;
      align-items: center;
    }
    &__title {
      font-size: 48px;
      position: absolute;
      top: 11%;
      right: 5%;
    }
    &__content {
      width: 47%;
    }
    &__main-img {
      width: 52%;
      right: 0%;
      top: 19%;
      position: absolute;
    }
  }
}

// PRICING
.thickness{
  font-weight: lighter;
}

.pricing {
  background-image: url(../images/base3.png );
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  &__wrapper {
    padding-top: 14px;
    padding-bottom: 10px;
    text-align: center;
  }

  &__title{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 28px;
line-height: 42px;
text-align: center;
font-weight: bold;
color: #FFFFFF;
margin-bottom: 27px;
}

&__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

&__content-block{
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 300;
   margin-bottom: (52px);
    width: 256px;

    &--active {
      transform: scaleX(1.08) scaleY(1.1);
    }

}

&__item-header{
  padding-top: 36px;
  padding-bottom: 36px;
  background: rgba(256, 256, 256, 0.06);

  &--active {
    background: rgba(0, 0, 0, 0.11);
  }

}

&__item-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
&__item-main {
  padding-top: 30px;
  height: 360px;
  background: rgba(256, 256, 256, 0.11);
  &--active {
    background: rgba(70, 48, 72, 0.84);
  }
}
&__item-price {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
 margin-bottom: (20px);

  &--active {
    font-size: 92px;
  }
}
&__item-duration {
  font-size: 14px;
  text-transform: uppercase;
   margin-bottom: (38px);
  margin-top: 20px;
}
&__item-separator {
  width: 30%;
  height: 5px;
  background: #8d81ac;
  margin: 0 auto;
   margin-bottom: (30px);
}
&__item-license {
  font-size: 16px;
  height: 48px;
   margin-bottom:(37px);
}
&__item-button {
  cursor: pointer;
  font-size: 15px;
  padding: 15px 35px;
  border: none;
  background: rgba(256, 256, 256, 0.06);
  border-radius: 24px;
  color: #fff;
  text-transform: uppercase;
  &--active {
    font-size: 17px;
    padding: 18px 48px;
  }
}
}
@media screen and (min-width: 480px) {
  .pricing {
    height: 100%;

    &__wrapper {
      padding-top: 90px;
      padding-bottom: 94px;
    }
    &__title {
      font-size: 42px;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      width: 74%;
      justify-content: space-around;
      margin: 0 auto;
    }
    &__content-block {
       margin-bottom:(71px);
    }
  }
}

@media screen and (min-width: 612px) {
  .pricing {

    height: 100%;

    &__content {
      flex-direction: row;
    }
    &__content-block {
      &--active {
        transform-origin: right;
      }
    }
  }
}

@media screen and (min-width: 989px) {
  .pricing {

    height: 100%;
    &__content-block {
      &--active {
        transform-origin: center;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .pricing {
    &__wrapper {
      padding-top: 83px;
      padding-bottom: 97px;
    }
    &__title {
       margin-bottom:(52px);
    }
    &__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin: 0 auto;
    }
    &__content-block {
      margin-right: 0;
      width: 23%;
    }
    &__item-main {
      height: 360px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .pricing {
    &__title {
      font-size: 48px;
    }
    &__item-title {
      font-size: 24px;
    }
    &__item-price {
      font-size: 60px;
    }
    &__item-license {
      font-size: 16px;
    }
    &__item-button {
      font-size: 15px;
      padding: 15px 35px;
    }
  }
}

