@media (min-width:320px ){.people-are-talking-about-fork {
    background-position: center;
    background-image: url(../images/bg320.png);
    background-repeat: no-repeat;
    #r6 {
        padding-top: 20px;
    }
   
}}
@media (min-width:1px ){.people-are-talking-about-fork {
    background-position: center;
    background-image: url(../images/bg320.png);
    background-repeat: no-repeat;
    #r5 {
        padding-top: 0px;
    }
}}
@media (min-width:480px ){.people-are-talking-about-fork {
    background-position: center;
    background-repeat: initial;
    background-size: 100%;
    #r6 {
        padding-top: 00px;
    }

}}

@media (min-width:340px ){.people-are-talking-about-fork {
    background-position: center;
    background-color: #604147;
    background-repeat: initial;
    background-size: 100%;
  
}}
@media(min-width:768) {
    .people-are-talking-about-fork{
    background-image: url(../images/backround-768.png);}
}
.highlight--section--1 {
    padding-top: 57px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.review-1 {
    width: 270px;
    display: flex;
    flex-direction: column;
}
#r1 {
    gap: 33px;
}
#r2 {
    gap: 29px;
}
#r3 {
    gap: 22px;
}
#r4 {
    gap: 33px;
}
#r5 {
    gap: 28px;
}
#r6 {
    gap: 30px;
    height: 59px;
}
.highlight--section--1 {
    padding-bottom: 60px;
}
.company-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.highlight1 {
   padding-bottom: 1px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */

color: #FFFFFF;
}
.highlight2 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */

color: #FFFFFF
}
.highlight3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    
    color: #FFFFFF
    }
    .review--section--1{
        padding-bottom: 119px;
        gap: 40px;
    }
    .par {
        padding-bottom: 22px;
    }
@media (max-width:480px) {
    .review--section--1 {
        
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

}

@media (min-width:482px) {

        .review--section--1 {
            
            display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
}
.review--section--1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 53px;
    gap: 45px;
}
.company-review {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato';
font-style: italic;
font-weight: 700;
font-size: 16px;
line-height: 24px;



color: #FFFFFF;
width: 270px;
}
.center--sections {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center--people-are-talking {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}
    .paragraph-rev {
        margin-top: 37px;
        width: 100%;
        grid-column: 2;
        font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */

text-align: center;

color: #A291A5;
    }
    .line-section--under {
        margin-top: 22px;
        grid-column: 2;
        width: 245px;
height: 2px;
background: #645766;
margin-bottom: 14px;
    }
    .par {
        width: 100%;
    }
    .review-1 {
        display: flex;
        flex-direction: column;
    }
   
    @media (min-width: 768px) {
      
        .paragraph-rev {
            width: 768px;
        }
        .line-section--under {
            width: 768px;
        }
        .review--section--1 {
            display: grid;
            grid-template-columns: 1fr 1fr ;
          }
    }
    @media(min-width:1200px) {
        .people-are-talking-about-fork {
            #r5 {
                padding-top: 30px;
            }
            background-position: center;
            background-image: url(../images/fullybackround.png);
            background-size: cover;
            background-color: #4A3B4E;
        }
        .line-section--under {
            display: block;
        }
        .review--section--1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
          }
          .line-section--under {
            grid-column: 2;
            width: 100%;
    height: 2px;
    background: #645766;
    margin-bottom: 14px;
        }
        .highlight--section--1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        .paragraph-rev {
            width: 1200px;
        }
    }
    #r4{
        margin-top: 0px;
    }
    #r6{
        margin-top: 70px;
    }
    @media (min-width: 480px) {
        #r6{
            margin-top: 70px;
        }
    }
    @media (min-width: 768px) {
        #r6{
            margin-top: 0px;
        }
        #r4{
            margin-top: 30px;
        }
        .highlight--section--1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
        .review-1 {
            width: 345px;
        }
        .review--section--1 {
            gap: 100px;
        }
      
    }
